{% extends 'padre.html' %}


{% block cont_cambia_1 %}
<h1 class="text-white font-weight-bold">El artista seleccionado fue eliminado!</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Gracias!</p>
                        <a class="btn btn-primary btn-xl" href="{% url 'Inicio' %}">Inicio</a>
{% endblock %}


{% block cont_cambia_2 %}

{% endblock %}

{% block cont_cambia_3 %}

{% endblock %}