{% extends 'padre.html' %}
{% block cont_cambia_1 %}
<h1 class="text-white font-weight-bold">El lugar para tener la información al día sobre nuestras muestras</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Empieza a tener toda la información necesaria!</p>
                        <a class="btn btn-primary btn-xl" href="#about">Acerca de nosotros</a>
{% endblock %}
{% block cont_cambia_2 %}
<div class="col-lg-8 text-center">
    <h2 class="text-white mt-0">¿Quiénes somos?:</h2>
    <hr class="divider divider-light" />
    <p class="text-white-75 mb-4">Somos una ONG que se dedica a la difusión del Arte. Si quieres proponer a un artista para formar parte de nuestras exposiciones, Toca el botón de abajo.</p>
    <a class="btn btn-light btn-xl" href="Artista_Invitado">Invitar Artistas</a>
   
</div>
{% endblock %}

{% block cont_cambia_3 %}

{% endblock %}