{% extends 'padre.html' %}


{% block cont_cambia_1 %}
<h1 class="text-white font-weight-bold">Inicia sesión para ver los artistas que han sido propuestos para formar parte de nuestras exposiciones</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Si no tienes usuario, <a href="{% url 'Registro' %}">crea uno</a>.</p>
                        <a class="btn btn-primary btn-xl" href="#about">Inicio de sesión</a>
{% endblock %}


{% block cont_cambia_2 %}
<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- O renderiza el formulario campo por campo -->
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
</div>
{% endblock %}

{% block cont_cambia_3 %}

{% endblock %}
