{% extends 'padre.html' %}


{% block cont_cambia_1 %}
<h1 class="text-white font-weight-bold">Regístrate ahora para proponer a tu artista favorito</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Te llevará solo unos minutos!</p>
                        <a class="btn btn-primary btn-xl" href="#about">Formulario de Regisro</a>
{% endblock %}


{% block cont_cambia_2 %}
<div class="row gx-4 gx-lg-5 justify-content-center mb-5">
    <div class="col-lg-6">
        <form method="POST" id="contactForm">{% csrf_token %}
            <!-- Django form rendering -->
            {{ form.as_p }}
            
            <!-- Submit Button-->
            <div class="d-grid">
                <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block cont_cambia_3 %}

{% endblock %}